.layout{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

.search{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.search_lay{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 39%;
    gap: 10px;
}